{% extends "home/home.html" %}
{% block section %}
{% include 'include/messages.html' %}
<section class="container">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-around align-items-center">
                <h2 class="card-title">Computadoras</h2>
                <a href="{% url 'inventory:create-computer' %}" class="btn btn-primary btn-sm">                        
                    <i class="fas fa-plus">
                    </i>
                        Agregar
                </a>
            </div>
           
        </div>
    </div>

    <div class="card">         
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped projects ">
                    <thead>
                        <tr>              
                            <th style="width: 20%">
                              Número
                            </th>
                            <th style="width: 30%">
                            Marca
                            </th>
                            <th style="width: 30%">
                                Descripción
                                </th>
                            <th style="width: 30%">
                                    Disponible
                            </th> 
                            <th style="width: 30%">
                                    Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for computer in computers %}
                        <tr>               
                            <td>{{ computer.number }}</td>
                            <td>{{ computer.first_name }}</td>
                            <td>{{ computer.description }}</td>
                            <td>
                              {% if computer.is_available %}
                                <span class="btn btn-sm btn-success ms-2">Disponible</span>
                              {% else %}
                                <span class="btn btn-sm btn-danger ms-2">En uso</span>
                              {% endif %}
                            </td>
                           
                            <td class="project-actions text-right">
                              <div class="btn-group btn-group-md">
                                <a href="{% url 'inventory:update-computer' computer.id %}" class="text-dark" title="Editar">
                                  <i class="fas fa-pencil-alt"></i>
                                </a>

                              </div>
                              <div class="btn-group btn-group-md">
                                <a href="{% url 'inventory:delete-computer' computer.id %}" class="text-dark" title="Eliminar">
                                  <i class="fas fa-trash"></i>
                                </a>
                              </div>
                              
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
        <div class="card-footer clearfix">
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 justify-content-center">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                  
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <li class="page-item active">
                          <span class="page-link">{{ num }}</span>
                        </li>
                      {% else %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                  </ul>
                  
              </div>
          </div>
    </div>
   
</section>
{% endblock %}